body {
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: center;
}

.main-button-container {
  display: flex;
  justify-content: space-evenly;
}

.main-add {
  background-image: url(./Pictures/Add.webp);
  background-repeat: no-repeat;
  align-content: center;
}
